/* @import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500;1,600&family=Maven+Pro:wght@400;500&family=Raleway:wght@200;300;400;500&display=swap');


:root {
  --font-base: 'Cormorant Garamond', serif;
  --font-alt: 'Maven Pro', sans-serif;
  --font-top: 'Raleway', sans-serif;
  
  --color-golden: #E6D2AA;
  /* DCCA87; */
  --color-black: #42032C;
  /* 110603; */
  /* #1b1811; */
  /* #0C0C0C; */
  --color-gray: #545454;
  --color-beige:  #ddd0c8;
  --color-darkgrey: #22333b;
  --color-crimson: #F1EFDC;
  --color-grey: #AAAAAA;
  --color-white: #F1EFDC;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: unset;
  text-decoration: none;
}

.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
